{% extends 'base.html' %}

{% block app %}

<div class="row justify-content-center">
</div>



  {% endblock %}

  {% block scripts %}
<script>
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    window.onload = loadData();
    function loadData(){
        $.ajax({
          url: "/api/purchase/",
          type: 'GET',
          // Fetch the stored token from localStorage and set in the header
          headers: {Authorization: 'Bearer ' + getCookie('jwt_token')},
          dataType: 'json',
          success: function(data){
            $('.row').empty();
            for (let movie of data){
                $('.row').append(`
                <div class="card" style="width: 18rem;">
                <button data-id="${movie['movies']['id']}"  type="button" class="close-prebtn btn btn-danger"><span class="close-btn" style="width:20px;">X</span></button>
                  <img class="card-img-top" src="${ movie['movies']['image_url'] }" alt="${movie['movies']['title']}" style="height: 400px;">
                  <div class="card-body">
                    <a href="/movie/${movie['movies']['id']}/"><h6 class="card-title">${movie['movies']['name']}</h6></a>
                    <p class="card-text" style="height: 50px;">${movie['movies']['description'].slice(0,20)}...</p>
                    <div class="no-m-card">
                      <a href="/movie/${movie['movies']['id']}" class="btn btn-secondary">Kup bilet</a>
                      <a href="/movie/${movie['movies']['id']}/" class="btn btn-secondary">Zobacz szczegóły</a>
                    </div>
                  </div>
                </div>
                `);
            }
          }
        });
    }

$('.close-prebtn').click(function() { 
    var movie_id = $(this).data("id")
    $.ajax({
      type: "DELETE",
      url: `/api/purchase/${movie_id}`,
      headers: {Authorization: 'Bearer ' + getCookie('jwt_token')},
      success: window.location.reload()
  });
})
</script>
{% endblock %}