{% extends 'base.html' %}

{% block app %}

<div class="row justify-content-center">
  {% for movie in movies %}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ movie.movie.image_url }}" alt="{{ movie.movie.title }}" style="height: 400px;">
    <div class="card-body">
        <a href="{% url 'movie' movie.movie.id %}"><h6 class="card-title">{{ movie.movie.name }}</h6></a>
        <p class="card-text">{{ movie.movie.description | slice:":20" }}... </p>
        <a href="{% url 'movie' movie.movie.id %}" class="btn btn-secondary">Zobacz szczegóły</a>
    </div>
  </div>
  {% empty %}
  <h2>Brak filmów do wyświetlenia</h2>
  {% endfor %}
</div>



  {% endblock %}