{% extends 'base.html' %}

{% block app %}
<div class="row justify-content-center" style="margin-top: 100px;">
     <div class="col d-flex justify-content-center"> 
       <div class="card">
         <div class="card-body">
          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary" type="submit" id="submit">Login</button>
          </form> 
         </div>
         <div class="card-footer">
          <small>Don't have an account? <a href="{% url 'register' %}">Register</a></small>
         </div>
       </div>
    </div>
</div>
{% endblock %}