{% extends 'base.html' %}

{% block app %}
<div class="row justify-content-center" style="margin-top: 100px;">
     <div class="col d-flex justify-content-center"> 
      <!-- <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="submit">Login</button>
      </form>  -->
        <form method="post" id="log">
            {% csrf_token %}
            <div class="form-group">
              <label for="email">Email address</label>
              <input name="username" type="text" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button id="sub" type="submit" class="click btn btn-primary">Submit</button>
            <!-- <button id="token" type="submit" class="click btn btn-warning">Token</button> -->
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>

//   function setCookie(name,value,days) {
//     var expires = "";
//     if (days) {
//         var date = new Date();
//         date.setTime(date.getTime() + (days*24*60*60*1000));
//         expires = "; expires=" + date.toUTCString();
//     }
//     document.cookie = name + "=" + (value || "")  + expires + "; path=/";
// }

// $('#token').on('click' ,function(e) { 
//   var usr = $("#email").val()
//   var passw = $("#exampleInputPassword1").val()
//   e.preventDefault();
//     var url = '/api/login/'
//     $.ajax({
//       type: "POST",
//       url: "/api/login/",
//       // The key needs to match your method's input parameter (case-sensitive).
//       data: {
//         "email": usr,
//         "password": passw,
//         "csrfmiddlewaretoken": "{{ csrf_token }}"
//       },
//       dataType: "json",
//       success: function(data){ 
//         setCookie('jwt_token', data['token']);
//         window.location.url = '/';
//       },
//       error: function(errMsg) {
//           alert(errMsg);
//       }
//   });
// })

  
</script>
{% endblock %}