{% extends 'base.html' %}

{% block app %}
<div class="row justify-content-center">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ movie.image_url }}" alt="{{ movie.title }}" style="height: 400px;">
    <div class="card-body">
        <a href="{% url 'movie' movie.id %}"><h6 class="card-title">{{ movie.name }}</h6></a>
        <p class="card-text">{{ movie.description}}</p>
        <p style="height: 50px;">Cena: {{ movie.price }},-/ Ocena: {{ movie.rating }}</p>
    </div>
  </div>
</div>
{% endblock %}
