{% extends 'base.html' %}

{% block app %}
<div class="row justify-content-center" style="margin-top: 100px;">
    <div class="col d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <form method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <label>{{form.email.label}}</label>
                    {{form.email}}
                  </div>
                  <div class="row">
                    <label>{{form.username.label}}</label>
                    {{form.username}}
                  </div>
                  <div class="row">
                    <label>{{form.password1.label}}</label>
                    {{form.password1}}
                  </div>
                  <div class="row">
                  <label>{{form.password2.label}}</label>
                  {{form.password2}}
                  </div>
                  <div class="row">
                    <input style="margin-top:10px ;" class="btn btn-secondary" type="submit" value="Register">
                  </div>
              </form>
              <div class="card-footer">
                <small>Already have an account? <a href="{% url 'login' %}">Login</a></small>
              </div>
          </div>        
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
</script>
{% endblock %}